/*    General    */

*{
  font-family: monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

/*    Body    */
body{
  background-color: #34495E;
}
header{
  background-color: #2C3E50;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
h1{
  color: #ECF0F1;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
  padding: 1vh;
}
.board{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 83vh;
}
.choice, .result{
  height: 20vh;
  width: 100%;
}
button{
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  background: #2C3E50;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
button img{
  width: 10vh;
}
button span{
  color: #ECF0F1;
}
.result{
  background-color: #ECF0F1;
  padding: 1vh;
}
table{
  width: 100%;
  height: 100%;
}
td{
  color: #34495E;
  text-align: center;
  width: 33.33%;
  height: 50%;
}
.score{
  font-size: 4rem;
}
footer{
  height: 5vh;
  background-color: #2C3E50;
  display: flex;
  justify-content: space-between;
  padding: .5rem .25rem;
}
footer section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer--icons{
  margin: 0 10px;
  width: 1.5rem;
  height: 1.5rem;
}
.developer a{
  color: #ECF0F1;
}